body{
    height: 500px;
    width: 350px;
    background-color: white !important ; 
    color: black !important;

    .page-container{
        height: 550px;
        width: 350px;
        padding: 1rem;
        .bx--row{
            margin-left: 0 !important;
            margin-right: 0 !important;
            justify-content: center;

            .bx--col{
                text-align: center;
            

           
        }
           
        }
        .createwallet-container{
            display: flex;
            flex-direction: column;
            .title-container{
                margin-left: 10px;
                text-align: left;
                font-size: 33px !important ;
                font-weight: 800 !important ;
                margin-bottom: 20px;
            }
           .bx--form-item{
            align-items: center;
            .bx--file--label{
                color: #000;
                text-align: center;
                font-size: 0.900rem;
            }
            .bx--label-description{
                color: #000;
                text-align: center;
                font-size: 0.700rem;
            }
           }

        }
    }    
    .page-container{
        .createwallet-container{
            .create-wallet-button{
                .add-icon{
                    svg{
                        height: 30px;
                        width: 30px;

                    }
                }
            }
            .import-wallet-container{
                border: 2px solid #ccc;
                border-radius: 8px;
                margin-bottom: 0.3rem;
                padding-top: 0.5rem ;
                .bx--file-container{
                    .bx--file__selected-file{
                        background-color: white !important;
                    }
                }

                label{
                    padding: 0.5rem;
                    border-radius: 4px;
                    border: none;
                    height: 3rem;
                }
                .upload-icon{
                    svg{
                        height: 30px;
                        width: 30px;
                        margin-bottom: 5px;
                        margin-top: 5px;
                    }

                }
            }
            .create-wallet-button{
                border: 2px solid #ccc;
                border-radius: 8px;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                button{
                    padding: 0.5rem;
                    border-radius: 4px;
                    border: none;
                    margin-bottom: 8px;
                }
                .bx--row{
                    .font-weight-wallet{
                        p{ 
                            font-size: 0.7rem !important ;
                            font-weight: 400 !important;
                            margin-bottom: 20px;
                            

                        }
                    }
                    .font-size{
                        p{
                        font-size: 0.9rem !important ;
                        font-weight: 600 !important;
                        margin-top: 5px;
                        }
                    } 
                }
            }
        }
    }


}