body{
    height: 576px;
    width: 350px;
    background-color: white !important ; 
    color: black !important;
     
    .page-container{
        height: 576px;
        width: 350px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
         
     .list-of-credentials{
        margin-bottom: 10px;

        display: flex;
        flex-direction: column;
        height: 485px;

        .bx--row{
            margin-left: 0;
            margin-right: 0;
        }

        .search-bar{
            padding-left: 0;
        }
        .data-container{
            margin-top: 20px;
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            height: 400px;
            overflow: auto;
            .data-tabs{
                
                padding: 1rem;
                padding-left: 0 !important;
                #sub-tab1{
                    width: 103px;
                    height: 73px;
                    background-color: #f5f5f5;
                    border-radius: 10px;
                }
                #sub-tab2{
                    h4{
                        font-size: 14px;
                        font-weight: 600;
                        width: 150px;
                    }
                    p{
                        font-size: 10px;
                        margin-top: 5px;
                    }
                }
            }
        }
        .title-2{
            padding: 0;
            h2{
                font-size: 1.25rem;
                font-weight: 700;
            }
        }
        .tabs-container{
            justify-content: space-between;
            margin-right: 20px;
            width: 225px;
            padding-bottom: 1rem;
            margin-left: 1px;

            .bx--btn--primary{
                font-size: 0.675rem;
                min-height: 20px;
                background-color: rgb(230, 230, 230);
                color: #908888;
                border: none;
                min-width: 50px;
                min-height: 25px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
                font-weight: 600;
                padding: 0px;
            }
        }
        .bx--row{
            .title-container{
                margin-top: 0.3rem;
                padding-bottom: 1rem;
                padding-left: 0;
    
                h1{
                    font-size: 1.25rem;
                    font-weight: 700;
                }
            }
        }
        .bx--search-input{
            background-color: white;
            color: black;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-bottom: 10px;
        }
     }   

    }

}