body{
    height: 576px;
    width: 350px;
    background-color: white !important ; 
    color: black !important;

    .page-container{
        height: 576px;
        width: 350px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        .registration-container{
            padding: 1rem;
            height: 500px;

            .bx--form{
                .bx--btn--primary{
                    margin-top: 30px;
                
                font-family: inter;
                font-style: normal;
                
               
                
                
                justify-content: center;
                
                border-radius: 10px;
                font-weight: 700;
                padding: 15px;
                }
            }
            .bx--label{
                margin-bottom: 5px;
                color: rgb(0 0 0 );
            }
            .bx--text-input{
                background-color: white;
                border-bottom: none;
                border: 1px solid black;
                border-radius: 5px;
            }
            .bx--form-item {
                margin-bottom:10px ;
            }
            .box{
                height: 208px;
                width: 173px;
                background-color: rgb(230,229,235);
                border-radius: 8px;
            }

            .title-container{
                h1{
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 41px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    margin-bottom: 10px;
                }
                margin-bottom: 10px;
            }
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;

            .signup-button{
                .add-icon{
                    svg{
                        height: 30px;
                        width: 30px;

                    }
                }
            
                border-radius: 8px;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                button{
                    padding: 0.5rem;
                    border-radius: 4px;
                    border: none;
                    margin-bottom: 8px;
                    height: 48px;
                    width: 105px;
                    display: flex;
                    justify-content: center;
                }
                .bx--row{
                    .font-weight-wallet{
                        p{ 
                            font-size: 0.7rem !important ;
                            font-weight: 400 !important;
                            margin-bottom: 20px;
                            

                        }
                    }
                    .font-size{
                        p{
                        font-size: 0.9rem !important ;
                        font-weight: 600 !important;
                        margin-top: 5px;
                        }
                    } 
                }
            }
            .bx--row{
                margin-left: 0 !important;
                margin-right: 0 !important;
                justify-content: center;
    
                .bx--col{
                    text-align: center;
                
    
               
            }
            .title-container{
                margin-left: 10px;
                text-align: left;
                font-size: 33px !important ;
                font-weight: 800 !important ;
                margin-bottom: 20px;
            }
           .bx--form-item{
            align-items: center;
            .bx--file--label{
                color: #000;
                text-align: center;
                font-size: 0.900rem;
            }
            .bx--label-description{
                color: #000;
                text-align: center;
                font-size: 0.700rem;
            }
           }

        }
        .import-wallet-container{
            border: 2px solid #ccc;
            border-radius: 8px;
            margin-bottom: 0.3rem;
            padding-top: 0.5rem ;
            .bx--file-container{
                .bx--file__selected-file{
                    background-color: white !important;
                }
            }

            label{
                padding: 0.5rem;
                border-radius: 4px;
                border: none;
                height: 3rem;
            }
            .upload-icon{
                svg{
                    height: 30px;
                    width: 30px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }

            }
        }
    }  
           
        }
  



}